body {
	margin: 0px;
	padding: 0px;
	background: linear-gradient(to right, rgba(255,255,255,0.3), rgba(0,0,0,0.8)), url("../img/bg2.png");
	background-size: cover;
	min-height: 100vh;
	/*height: 100%;
  	width: 100%;
    background: linear-gradient(to right, rgba(255,255,255,0.3), rgba(0,0,0,0.8)) fixed center center;   
    background-size: cover;
    position: fixed;
	background-image: url("../img/bg2.png");
   	margin: 0px;
	padding: 0px;
    background-repeat: no-repeat;	
	background-size: 100%;   
    background-position: center;
    height: 100vh;*/

 }

div.logo-newton {
	width: 400px;
	height: 375px;
	margin-top: 150px;
	margin-left: 250px;
	background-color: rgba(255,255,255,0.3);
	border-radius: 10px;
	float: left;
	animation-duration: 3s;
}

.logo-newton:hover {
	background-color: rgba(255,255,255,0.8); 
	transition: 0.75s;
}

#imageNewton {
	height: 100px;
	width: 350px;
	margin: 50px;
	margin-left: 20px;
}

#logotext {
	margin-top: 70px;
}

div.login-newton {
	width: 400px;
	height :375px;
	margin-top: 150px;
	margin-right: 250px;
	background-color: rgba(0,0,0,0.6); 
	border-radius: 10px;
	float: right;
	animation-duration: 3s;
}

.login-newton:hover {
	background-color: rgba(0,0,0,0.5); 
	transition: 0.75s;
}

.input-n {
	width: 250px;
    background-color: rgba(0,0,0,0.2);
    transition: 0.5s;
    color: #fff;
    margin: auto;
    /*margin-left: 10px;
    margin-bottom: 20px;
}

.input-p {
	width: 250px;
    background-color: rgba(0,0,0,0.2);
    transition: 0.5s;
    color: #fff;
    margin: auto;
    /*margin-left: 10px;*/
    margin-bottom: 30px;
}

.input-n:focus {
	background-color: rgba(0,0,0,0.5);
	color: #fff;
	width: 300px;
	transition: 0.5s;
}

.input-p:focus {
	background-color: rgba(0,0,0,0.5);
	color: #fff;
	width: 300px;
	transition: 0.5s;
}

.loginTitle {
	margin-bottom: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.loginHeader {
	margin-top: 5px;
	margin-bottom: 30px;
}

.button {
	margin-left: 25px;
	width: 30%;
}

#loginButton {
	margin-left: 60px;
}

.logoBtn {
	margin-right: 5px;
}